/* * {
    box-sizing: border-box;
  } */
  body {
    font-family: 'Actor' ;
    /* background-image: url("../img/imgfixed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px ; */
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #4CAF50;}
  
  ul.topnav li.right {float: right;}
  
  /* @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  } */
/* .hero {
    background-image: url("../img/imgfixed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px ; 
    
} */

img {
    height: 600px;
    width: 100% ;
}
/* .row {
height: 300px ;
float: left ;
width: 100% ;

}

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */
  .row1 {
    display: flex;
    flex-direction: row ;
    
    
  }
  
  .row1 > div {
    background-color: gray ;
    width: 100%;
    margin: 1px;
    height: 225px;

  }
  .column {
    display: flex;
    flex-direction: column ;
  }

  .column > div {
    background-color: rgb(163, 37, 37) ;
    width: 100%;
    margin: 1px;
    height: 225px;

  }
/* .column1 {
    width: 50% ;
    padding: 10px ;
    height: 300px ;
    float: left;
}
.row1:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
    }

} */
/*aside{
    float: left ;
    width: 20% ;
    background: rgb(230, 228, 170);
}
aside ul {
    list-style: none ;
    padding-left: 0% ;
}*/
footer {
    padding-top: 10px ;
    clear: both;
    text-align: center ;
    background: black ;
    color: white;
    height: 100px ;
    
}
h4{
    text-align: right;
}

 